:root {
  --bakgroundColor: #101010;
  --bakground: #000000;
}

.dashboardBackground {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  background: url("../../images/gradient-sidebar.png") var(--bakground);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transform: rotate(180deg);

  height: 100vh;
  overflow: auto;
}

.dashboardContainer {
  transform: rotate(180deg);
  position: relative;
  display: flex;
  align-content: flex-start;

  flex-wrap: wrap;

  margin: auto;
  flex: 0 1 auto;
  width: 100%;
  max-width: 1280px;

  background: url("../../images/gradient-sidebar.png") var(--bakgroundColor);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.layoutContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.sideBarContainer {
  width: 40%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .dashboardContainer {
    height: 100vh;
    overflow-y: auto;
  }

  .layoutContainer {
    flex-direction: column;
  }

  .sideBarContainer {
    margin: 0px 20px;
    width: auto;
    max-width: none;
    gap: 32px;
    justify-content: center;
    flex-direction: row;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .dashboardContainer {
    height: 100vh;
  }

  .layoutContainer {
    flex-direction: column;
  }

  .sideBarContainer {
    margin: 0px 10px;
    width: auto;
    max-width: none;
    gap: 27px;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 424px) {
  .dashboardContainer {
    height: 100vh;
  }

  .layoutContainer {
    justify-content: center;
    flex-direction: column;
  }

  .sideBarContainer {
    width: 100%;
  }
}
