.tableRow {
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
  color: #fbfbfb;
}

.tableRow:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.41);
}

.tableCell {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 400;
}

.tableCell {
  display: flex;
  align-items: center;
  flex: 1;
  min-height: calc(2 * 1.2em);
  line-height: 1.2em;
}

.tableRow:nth-child(even) .sum {
  color: #ff868d;
}

.tableRow:nth-child(odd) .sum {
  color: #ffb627;
}

.sum {
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}

.type {
  padding-left: 15px;
  margin-right: -15px;
}

.action {
  width: 92px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.svg {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.svg:hover,
.svg:focus {
  scale: 0.9;
}

.delete {
  color: #fbfbfb;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 12px;
  border-radius: 20px;
  background: var(
    --button-gradient,
    linear-gradient(97deg, #ffc727 -16.42%, #9e40ba 97.04%, #7000ff 150.71%)
  );
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  transition: all 750ms ease;
  cursor: pointer;
}

.delete:hover,
.delete:focus {
  scale: 0.96;
  background: var(
    --button-gradient,
    linear-gradient(97deg, #7000ff -16.42%, #9e40ba 97.04%, #ffc727 150.71%)
  );
}

.addButton {
  position: absolute;
  right: 40px;
  bottom: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(
    --button-gradient,
    linear-gradient(97deg, #ffc727 -16.42%, #9e40ba 97.04%, #7000ff 150.71%)
  );
}

.svgButton {
  width: 34px;
  height: 34px;
  color: white;
  transition: transform 0.3s ease;
}

.addButton:hover,
.addButton:focus {
  background: var(
    --button-gradient,
    linear-gradient(97deg, #7000ff -16.42%, #9e40ba 97.04%, #ffc727 150.71%)
  );
}
.addButton:hover .svgButton,
.addButton:focus .svgButton {
  transform: scale(1.2);
}

@media (max-width: 1024px) and (min-width: 769px) {
  .addButton {
    position: fixed;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .tableRow {
    padding: 6px;
  }

  .addButton {
    right: 20px;
    position: fixed;
  }

  .tableCell {
    font-size: 11px;
  }

  .sumTitle {
    font-size: 12px;
  }

  .sum {
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
  }

  .type {
    padding-left: 12px;
    margin-right: -12px;
  }

  .action {
    width: 74px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .svg {
    width: 12px;
    height: 12px;
  }

  .delete {
    font-size: 12px;
    font-weight: 400;
    padding: 4px 8px;
  }
}
