:root {
  --bakgroundColor: #101010;
  --white-60: rgba(255, 255, 255, 0.6);
}

.container {
  flex: 0 1 auto;
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.navigation {
  margin-top: 40px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.navigationContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.title {
  color: #fbfbfb;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.svgs {
  width: 20px;
  height: 20px;
  padding: 2px;
  opacity: 0.4;

  transition: all 250ms ease;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
}

.balanceContainer {
  width: 100%;
  background: rgba(82, 59, 126, 0.6);
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  padding-left: 56px;
  padding-top: 8px;
  padding-bottom: 11px;
  gap: 12px;
  margin-bottom: 32px;
}

.balanceText {
  color: var(--white-40, rgba(255, 255, 255, 0.4));
  height: 13px;
  font-size: 12px;
  text-transform: uppercase;
}

.balance {
  color: var(--white, #fbfbfb);
  height: 36px;
  font-size: 30px;
  font-weight: 700;
}

.navigationContainerCurrency {
  display: none;
  cursor: pointer;
}

.navigationContainer:hover .svgs,
.navigationContainer:focus .svgs {
  filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
  color: white;
  opacity: 1;
  background-color: #734aef;
}

.navigationContainerCurrency:hover .svgs,
.navigationContainerCurrency:focus .svgs {
  filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
  color: white;
  opacity: 1;
  background-color: #734aef;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .container {
    max-width: none;
    border: none;
    width: 60%;
  }

  .navigation {
    margin-left: 0;
  }

  .balanceContainer {
    margin-bottom: 0;
    border-radius: 15px;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .container {
    max-width: 100%;
    border-right: none;
    gap: 12px;
  }

  .navigation {
    padding-top: 12px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .svgs {
    width: 44px;
    height: 44px;
    padding: 4px;
    border-radius: 6px;
  }

  .title {
    display: none;
  }

  .navigationContainerCurrency {
    display: flex;
  }

  .balanceContainer {
    border-radius: 15px;
  }
}

@media (max-width: 424px) {
  .container {
    max-width: none;
    width: auto;
    border-right: none;
    gap: 12px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .navigation {
    padding-top: 12px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .svgs {
    width: 44px;
    height: 44px;
    padding: 4px;
    border-radius: 6px;
  }

  .title {
    display: none;
  }

  .navigationContainerCurrency {
    display: flex;
  }

  .balanceContainer {
    max-width: 400px;
    border-radius: 15px;
    margin-bottom: 32px;
  }

  .balanceContainer {
    padding-left: 32px;
  }
}
