.container {
  flex: 0 1 auto;
  width: 100%;
  max-width: 480px;
  border-right: 1px solid var(--white-60, rgba(255, 255, 255, 0.6));
  display: flex;
  flex-direction: column;
  background-color: rgba(74, 86, 226, 0.1);
}

.styledTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 14px;
}

.styledTable thead {
  background: rgba(255, 255, 255, 0.2);
  height: 54px;
}

.styledTable th {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.styledTable td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 25px;
  text-align: center;
  color: white;
  font-size: 16px;
}

.chart {
  padding-left: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 229px;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .container {
    max-width: none;
    width: 40%;
    /* width: calc(50% - 10px); */
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .styledTable {
    margin-bottom: 0;
  }

  .styledTable thead {
    height: 48px;
  }

  .styledTable td {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 24px;
  }

  .chart {
    padding-left: 0;
    padding-bottom: 4px;
    height: 96px;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .container {
    width: 100%;
    border: none;
    max-width: none;
  }

  .chart {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* DISPLAY NONE CURRENCY */
  /* .container {
    display: none;
  } */
}

@media (max-width: 424px) {
  .container {
    border: none;
    width: 100%;
    max-width: none;
  }

  .styledTable {
    margin-bottom: 0;
  }

  .styledTable thead {
    height: 50px;
  }

  .styledTable td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 24px;
  }

  .chart {
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
  }

  /* DISPLAY NONE CURRENCY */
  /* .container {
    display: none;
  } */
}
