.container {
  flex: 0 1 auto;
  width: 100%;
  max-width: 480px;
  border-right: 1px solid var(--white-60, rgba(255, 255, 255, 0.6));
  display: flex;
  flex-direction: column;
  background-color: rgba(74, 86, 226, 0.1);
}

.styledTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 14px;
}

.styledTable thead {
  background: rgba(255, 255, 255, 0.2);
  height: 56px;
}

.styledTable th {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.styledTable td {
  padding-left: 10px;
  padding-right: 10px;
  height: 25px;
  padding-top: 24px;
  text-align: center;
  color: white;
  font-size: 16px;
}

.styledTable thead th:first-child {
  padding-left: 62px;
}

.styledTable thead th:last-child {
  padding-right: 131px;
}

.styledTable tbody td:first-child {
  padding-left: 84px;
  padding-right: 20px;
}

.styledTable tbody td:last-child {
  padding-right: 131px;
}

.chart {
  padding-left: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 240px;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .container {
    scale: 0.7;
  }

  .styledTable {
    margin-bottom: 0;
  }

  .styledTable thead {
    height: 48px;
  }

  .styledTable td {
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    padding-top: 8px;
  }

  .chart {
    padding-left: 0;
    padding-bottom: 0;
    height: 191px;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .container {
    display: none;
  }
}

@media (max-width: 424px) {
  .container {
    display: none;
  }
}
